/*  Copyright © 2014 gokoururi
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: Tahoma;
    text-align: center;
    border: 0;
}

/* .mascot and .plain will be added to element 'main' by javascript in
    addition to a random mascot */
.mascot {
    padding: 20px 20px 20px 250px;
}

.plain {
    padding: 20px 20px 20px 20px;
}

main {
    display: inline-block;
    min-width: 500px;
    font-size: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    border-width: 1px;
    border-style: solid;
    margin: 10vh 0 0 0;
}

header {
    margin-bottom: 60px;
}

h1 {
    color: #AAA;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    padding: 0;
    text-shadow: 0 1px #FFF;
    margin: 0;
}

.subtitle {
    color: #AAA;
    text-align: center;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

.searchContainer {
    text-align: center;
    margin: 15px 0;
}

.searchForm {
    display: inline-block;
    margin: 0 10px;
}

.searchBar::-webkit-input-placeholder {
    color: rgba(0,0,0,0);
    transition: color 1s;
}

.searchBar {
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 10px;
    color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right center;
    border: 1px solid lightgrey;
    outline: 0;
    opacity: 0.5;
    transition: all 1s;
}

.searchBar:hover {
    cursor: pointer;
    box-shadow: 0 0 5px lightgrey;
    border: 1px solid lightgrey;
    transition: all 0.5s;
    background-position: right center;
    opacity: 1;
}

.searchBar:focus::-webkit-input-placeholder{
    color: rgba(100,100,100,1);
}

.searchBar:focus {
    cursor: text;
    width: 100px;
    color: rgba(100,100,100,1);
    padding: 0 25px 0 5px;
    opacity: 1;
}

.google {
    background-image: url('../images/google-light.png');
}

.youtube {
    background-image: url('../images/youtube-light.png');
}

.wikipedia {
    background-image: url('../images/wikipedia-light.jpg');
    background-size: 21px 21px;
}

nav {
    text-align: center;
}

.columnList,
.columnList ul,
.buttonList,
.buttonList ul {
    padding: 0;
    list-style-type: none;
}

/* Button configuration */
.button {
    position: relative;
    margin: 5px 10px;
    display: inline-block;
}
.button > a {
    display: inline-block;
    min-width: 140px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 5px;
    border-width: 2px;
    border-style: solid;
    outline: none;
    transition: all 1s;
}
.buttonArrow > a:after {
    width: 0;
    height: 0;
    font-size: 0;
    border-style: solid;
    border-left-width: 5px;
    border-top-width: 5px;
    border-top-color: transparent;
    border-bottom-width: 5px;
    border-bottom-color: transparent;
    border-right-width: 0;
    content:"";
    margin: 8px 10px 0 8px;
    float: right;
    transition: all 1s;
}
.buttonArrow:hover > a:after {
    transition: transform 0.5s, border 1s;
    transform: rotate(90deg);
}
.button > ul {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    border-width: 0;
    border-style: solid;
    transition: all 1s;
    z-index: 10;
}
.button:hover > ul {
    max-height: 200px;
    border-width: 1px;
    border-style: solid;
    transition: max-height 0.5s, border 1s;
}

.button > ul > li {
    display: block;
}
.button > ul > li > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 5px 0;
    outline: 0;
    transition: all 1s;
}
.button > ul > li > a:hover {
    color: #d67b96;
    background: #70293b;
}

/* Colors */
body {
    background-color: #EFEFEF;
}
.highlite {
    color: #FF9966;
}
main {
    background-color: #F2F2F2;
    border-color: #FFF;
}

/* Grey button */
.buttonGrey > a,
.buttonGrey > ul {
    border-color: #FFF;
}
.buttonGrey > a,
.buttonGrey > ul > li > a {
    color: #FFF;
    background: #CCC;
}
.buttonGrey > a:after {
    border-left-color: #FFF;
}
.buttonGrey:hover > a,
.buttonGrey > ul > li > a:hover {
    color: #FFDBB8;
    background: #FF9966;
}
.buttonGrey:hover > a,
.buttonGrey:hover > ul {
    border-color: #FF9966;
}
.buttonGrey:hover > a:after {
    border-left-color: #FFDBB8;
}

/* Green button */
.buttonGreen > a,
.buttonGreen > ul {
    border-color: #daffd5;
}
.buttonGreen > a,
.buttonGreen > ul > li > a {
    color: #daffd5;
    background: #9be391;
}
.buttonGreen > a:after {
    border-left-color: #91b476;
}
.buttonGreen:hover > a,
.buttonGreen > ul > li > a:hover {
    color: #eeffeb;
    background: #91ff82;
}
.buttonGreen:hover > a,
.buttonGreen:hover > ul {
    border-color: #91ff82;
}
.buttonGreen:hover > a:after {
    border-left-color: #269926;
}

/* Row configuration */
.columnList {
    display: inline-block;
}
.column {
    display: table-cell;
    text-align: center;
    height: 100%;
    border-right: 1px solid #DDD;
    padding: 0 10px;
}

.column:last-of-type {
    border-right-width: 0;
}
.column > a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-bottom: 4px;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.8s;
}

.column > ul > li {
    margin-bottom: 3px;
}

.column > ul > li > a {
    text-decoration: none;
    vertical-align: middle;
    font-weight: bold;
    outline: 0;
    transition: all 0.8s;
}

/* Row standard colors */
.column > a,
.column > ul > li:before {
    color: #DDD;
}
.column > a {
    text-shadow: 0 0.5px #FFF;
}
.column > ul > li > a {
    color: #888;
}

/* Row purple highlite */
.columnPurple:hover > a,
.columnPurple:hover > ul > li:before {
    color: #b9b6d9
}
.columnPurple:hover > a {
    text-shadow: 0 0.5px #FFF;
}
.columnPurple > ul > li > a:hover {
    color: #b9b6d9;
}

/* Row pink highlite */
.columnPink:hover > a,
.columnPink:hover > ul > li:before {
    color: #d67b96
}
.columnPink:hover > a {
    text-shadow: 0 0.5px #FFF;
}
.columnPink > ul > li > a:hover {
    color: #d67b96;
}

/* Row green highlite */
.columnGreen:hover > a,
.columnGreen:hover > ul > li:before {
    color: #729a64;
}
.columnGreen:hover > a {
    text-shadow: 0 0.5px #FFF;
}
.columnGreen > ul > li > a:hover {
    color: #91b476;
}
