/*  Copyright © 2014 gokoururi
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: Tahoma;
    text-align: center;
    border: 0;
    background: #1D1F21;
}

.highlite {
    color: #d67b96;
}

/*  One of these mascot classes will be added to <main>
    on pageload by javascript */
.mascot1 {
    background-image: url('images/mascots/ruri1.png');
}

.mascot2 {
    background-image: url('images/mascots/ruri2.png');
}

.mascot3 {
    background-image: url('images/mascots/ruri3.png');
}

.plain {
    padding: 20px 20px 20px 20px;
}

main {
    display: inline-block;
    min-width: 500px;
    font-size: 12px;
    padding: 20px 20px 20px 250px;
    background-color: #282A2E;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #373B41;
    margin: 10vh 0 0 0;
}

header {
    margin-bottom: 60px;
}

h1 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    padding: 0;
    margin: 0;
}

.subtitle {
    color: #FFF;
    text-align: center;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

.searchContainer {
    text-align: center;
    margin: 15px 0;
}

.searchForm {
    display: inline-block;
    margin: 0 10px;
}

.searchBar {
    color: rgba(0,0,0,0);
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 10px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right center;
    border: 1px solid lightgrey;
    opacity: 0.5;
    transition: all 1s;
}
.searchBar:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #FFF;
    border: 1px solid #FFF;
    transition: all 0.5s;
    background-position: right center;
    opacity: 1;
}

.searchBar:focus {
    cursor: text;
    color: #000;
    width: 100px;
    padding: 0 25px 0 5px;
    opacity: 1;
}

.google {
    background-image: url('images/google.png');
}

.youtube {
    background-image: url('images/youtube.png');
}

.wikipedia {
    background-image: url('images/wikipedia.jpg');
    background-size: 21px 21px;
}

nav {
    text-align: center;
}

.columnList,
.columnList ul,
.buttonList,
.buttonList ul {
    padding: 0;
    list-style-type: none;
}

/* Button configuration */
.button {
    position: relative;
    margin: 10px 10px;
    display: inline-block;
}
.button > a {
    display: inline-block;
    min-width: 140px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 5px;
    border-width: 2px;
    border-style: solid;
    outline: none;
    transition: all 1s;
}
.buttonArcolumn > a:after {
    width: 0;
    height: 0;
    font-size: 0;
    border-style: solid;
    border-left-width: 5px;
    border-top-width: 5px;
    border-top-color: transparent;
    border-bottom-width: 5px;
    border-bottom-color: transparent;
    border-right-width: 0;
    content:"";
    margin: 8px 10px 0 8px;
    float: right;
    transition: all 1s;
}
.buttonArcolumn:hover > a:after {
    transition: transform 0.5s, border 1s;
    transform: rotate(90deg);
}
.button > ul {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    border-width: 0;
    border-style: solid;
    transition: all 1s;
    z-index: 10;
}
.button:hover > ul {
    max-height: 200px;
    border-width: 1px;
    border-style: solid;
    transition: max-height 0.5s, border 1s;
}

.button > ul > li {
    display: block;
}
.button > ul > li > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 5px 0;
    outline: 0;
    transition: all 1s;
}
.button > ul > li > a:hover {
    color: #d67b96;
    background: #70293b;
}

/* Grey button */
.buttonGrey > a,
.buttonGrey > ul {
    border-color: #373B41;
}
.buttonGrey > a,
.buttonGrey > ul > li > a {
    color: #81A2BE;
    background: #1D1F21;
}
.buttonGrey > a:after {
    border-left-color: #373B41;
}
.buttonGrey:hover > a,
.buttonGrey > ul > li > a:hover {
    color: #d67b96;
    background: #70293b;
}
.buttonGrey:hover > a,
.buttonGrey:hover > ul {
    border-color: #70293b;
}
.buttonGrey:hover > a:after {
    border-left-color: #d67b96;
}

/* Green button */
.buttonGreen > a,
.buttonGreen > ul {
    border-color: #91b476;
}
.buttonGreen > a,
.buttonGreen > ul > li > a {
    color: #43644a;
    background: #729a64;
}
.buttonGreen > a:after {
    border-left-color: #91b476;
}
.buttonGreen:hover > a,
.buttonGreen > ul > li > a:hover {
    color: #269926;
    background: #67E667;
}
.buttonGreen:hover > a,
.buttonGreen:hover > ul {
    border-color: #67E667;
}
.buttonGreen:hover > a:after {
    border-left-color: #269926;
}

/* Row configuration */
.columnList {
    display: inline-block;
}
.column {
    display: table-cell;
    text-align: center;
    height: 100%;
    border-right: 1px solid #373B41;
    padding: 0 10px;
}

.column:last-of-type {
    border-right-width: 0;
}
.column > a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-bottom: 4px;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.8s;
}
//.column > a:before {
    display: inline-block;
    margin: 0 5px;
    content: "::";
}

.column > ul > li {
    margin-bottom: 3px;
}

.column > ul > li > a {
    text-decoration: none;
    vertical-align: middle;
    font-weight: bold;
    outline: 0;
    transition: all 0.8s;
}

/* Row standard colors */
.column > a,
.column > ul > li:before {
    color: #1D1F21;
}
.column > a {
    text-shadow: 0 0.5px #373B41;
}
.column > ul > li > a {
    color: #81A2BE;
}

/* Row purple highlite */
.columnPurple:hover > a,
.columnPurple:hover > ul > li:before {
    color: #3c3a5c;
}
.columnPurple:hover > a {
    text-shadow: 0 0.5px #b9b6d9;
}
.columnPurple > ul > li > a:hover {
    color: #b9b6d9;
}

/* Row pink highlite */
.columnPink:hover > a,
.columnPink:hover > ul > li:before {
    color: #70293b;
}
.columnPink:hover > a {
    text-shadow: 0 0.5px #d67b96;
}
.columnPink > ul > li > a:hover {
    color: #d67b96;
}

/* Row green highlite */
.columnGreen:hover > a,
.columnGreen:hover > ul > li:before {
    color: #43644a;
}
.columnGreen:hover > a {
    text-shadow: 0 0.5px #729a64;
}
.columnGreen > ul > li > a:hover {
    color: #91b476;
}
